.contact {
    background: var(--bg-color2);
    min-height: 100vh;
}
.contact-row{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}