.experience {
  padding-left: 28px;
  color: var(--font-color-dark);
  text-align: left;
  margin-bottom: 68px;
  position: relative;
}
.experience > svg {
  color: var(--font-color-dark);
  position: absolute;
  left: -10px;
  top: 6px;
  font-size: 19px;
}
.duration {
  background: var(--font-color);
  color: #fff;
  position: relative;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 300;
  margin: 16px 0;
  display: flex;
  align-items: center;
  width: 192px;
  box-sizing: border-box;
  margin-left: 16px;
}
.duration::before {
  content: "";
  position: absolute;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 14px 15px 0;
  border-color: transparent var(--font-color);
}
.duration svg {
  font-size: 18px;
  padding-right: 6px;
}
.title {
  margin: 0;
  font-weight: 600;
}
.location {
  font-weight: 400;
  margin: 6px 0 28px;
}
.description {
  margin: 0;
  line-height: 20px;
  font-weight: 300;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .title,
  .location {
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
}
