.home {
  background-image: url("../assets/img/home-background.jpg");
  background-position: 0 -250px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: block;
  font-family: "Roboto";
  padding-top: 72px;
  position: relative;
}
.home::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--font-color-rgb), 0.1);
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}
.home-content {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}
.img {
  min-width: 300px;
  height: 300px;
  border: 2px solid var(--font-color);
  background-image: url("../assets/img/niloo.jpg");
  background-size: cover;
  border-radius: 50%;
  margin: 0 60px 0 100px;
}
.info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.name {
  font-size: 60px;
  display: flex;
  font-family: "Poppins";
  font-weight: 100;
  color: var(--font-color);
  text-shadow: 0 0 4px rgba(23, 22, 23, 0.7);
}
.first-name {
  font-weight: 600;
  padding-right: 12px;
}
.job-title {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
}
.descrption {
  color: #fff;
  text-align: left;
  margin: 22px 0 36px;
  font-size: 16px;
  line-height: 1.7;
}
.more {
  padding: 12px 20px;
  background: var(--font-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Poppins";
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 500;
  cursor: pointer;
}
.more:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  transition: all 100ms;
}
@media screen and (max-width: 1200px) {
  .home {
    background-position: 0 0;
  }
  .home-content {
    flex-direction: column;
    justify-content: center;
  }
  .img {
    width: 200px;
    height: 200px;
    margin: 40px 0;
    min-width: unset;
  }
  .info {
    align-items: inherit;
  }
  .descrption {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .home {
    height: calc(100vh - 72px);
    background-position: 0;

  }
  .name {
    font-size: 54px;
  }
  .job-title {
    font-size: 22px;
  }
  .descrption {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    background-position: 0;
  }
  .home-content {
    flex-wrap: wrap;
  }
  .img {
    width: 170px;
    height: 170px;
  }
  .name {
    font-size: 37px;
  }
  .job-title {
    font-size: 17px;
  }
  .descrption {
    font-size: 13px;
  }
  .more {
    font-size: 13px;
    letter-spacing: 0;
  }
}
