.portfolio {
  padding: 16px 0;
  background: var(--bg-color1);
  min-height: 100vh;
}
.projects {
  display: flex;
  flex-flow: column;
  gap: 24px;
}
@media screen and (min-width: 1201px) {
  .portfolio > div{
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .projects {
    flex-flow: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .projects > div{
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .projects {
    flex-flow: column;
    align-items: center;
    gap: 24px;
  }
  .projects > div{
    width: unset;
  }
}
