.portfolio {
    height: 100vh;
    background: lightslategrey;
}
.title{
    position: relative;
}
.portfolio-title{
    font-size: 90px;
    margin-top: 0;
    font-family: 'Poppins';
    font-weight: 900;
    background: linear-gradient(-45deg, #af6c15, #e73c6f, #d2cb00, #0fffb7);
    background-size: 200% 200%;
    background-clip: text;
    color: lightslategrey;
    -webkit-text-stroke: 3px transparent;
}
.subtitle{
    position: absolute;
    bottom: 0;
    margin: 0;
    color: darkred;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}
.projects{
    display: flex;
    flex-direction: row;
}