.App {
  text-align: center;
  position: relative;
}
button{
  cursor: pointer;
}
::selection{
  background: rgb(255, 74, 87);
  color: rgb(255, 255, 255);
}
:root{
  --font-color: rgb(255, 74, 87);
  --font-color-rgb: 255, 74, 87;
  --font-color-dark: #393939;
  --font-color-dark-red: #d98989;
  --bg-color1: rgb(255 5 5 / 8%);
  --bg-color2: #fff;
}